
<p>Welcome to the Pokedex, you own personal Pokemon directory!</p>

<p>{{#link-to 'pokemon'}} Pokemon You've Seen / Caught{{/link-to}}</p>
<p>{{#link-to 'items'}} Items You've Collected {{/link-to}}</p>

{{!-- {{#each model.pokemon as |p|}}
  <p>{{p.name}}</p>
  <p>{{p.generation.name}}</p>

{{/each}} --}}

{{!-- {{#each model.generations as |generation|}}
  <p>{{generation.name}}</p>
  {{#each generation.pokemon as |pokemon|}}
  <p>{{pokemon.name}}</p>
  {{/each}}
{{/each}} --}}
